:root {
  --black: #111;
  --blue: #5fc7e4;
  --caribbean: #00e0ff;
  --light-blue: #e8f4f4;
  --navy: #1b2a49;
  --teal: #036c8b;
  --yellow: #e5a91e;
  --white: #eee;

  --gap: 1rem;
  --rowGap: 2.5rem;

  --bg: var(--light-blue);
  --primary: var(--blue);
  --secondary: var(--teal);
  --text: var(--navy);
  --accent: var(--caribbean);
  --focus: var(--yellow);

  --transition: 0.2s all ease-in-out;

  --smShadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.25);
  --mdShadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.25);
  --lgShadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --focusShadow: 0 0 0 3px var(--focus);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(33, 47, 79, 0.5);
}

body {
  color: var(--text);
  font-size: clamp(100%, 1rem + 0.25vw, 2rem);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

h1 {
  font-size: clamp(2rem, 2rem + 1vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 1.25rem + 0.75vw, 2.25rem);
}

/* Explicitly give me 3 cols; 1 fraction of space, whichever is smaller of 80 characters or 95% of the width, and another fraction of space. */
main {
  display: grid;
  grid-template-columns: auto var(--centerColumn) auto;
  row-gap: var(--rowGap);
  overflow-x: hidden;
}

/* Put everything inside main in column 2 (min(80ch, 95%)) */
main > * {
  grid-column: 2;
  padding: 0 var(--gap);
}

/* Anything with this class takes up the full grid */
.full-width {
  grid-column: 1 / -1;
  padding: var(--rowGap) var(--gap);
}

/* Make the header and footer align with center column */
.header-wrapper,
.footer-wrapper {
  max-width: var(--centerColumn);
  padding: var(--gap);
  margin: 0 auto;
}

button,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--focus);
}
